!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %link{:href => "https://fonts.googleapis.com/css?family=Chivo:900", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application"
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    %title Red Ice by STRd6

  %body
    #container
      .inner
        %header
          %h1 Red Ice
          %h2 The hockey game that bleeds fun!
          = image_tag "web620.png"

        %hr
        %section#main_content
          %h3 Welcome 2 Mayhem!
          %p
            Red Ice is a fast paced 3v3 hockey game. Use your wits and hockey sticks to crush your opponents.
          = image_tag "web200_2.png", :class => :right
          %p
            Captain one of six twisted teams to victory.

            %ul
              %li Winnipeg Beach Winnies
              %li Urbandale Umbos
              %li Sunset Valley Nightengales
              %li Sunnyvale Snakemen
              %li The Creatures from Mt. Pleasant
              %li Unknown from who knows where

        %section.right_content
          = image_tag "web200.png", :class => :left, :style => "padding-right: 20px;"
          %h3 Features!!1
          %p
            Gameplay &#x2713;
          %p
            Images &#x2713;
          %p
            Sound &#x2713;
          %p
            Music &#x2713;

        %section
          %h3 More Info
          %p
            Target release date 12-31-12.
          %p
            Available on all platforms (Win, Mac, Linux)

          %h3 Subscribe for More Information
          %form(action="http://payments.pixieengine.com/leads")
            %p.error
            %label
              %input(type="email" placeholder="Email Address" name="lead[email]")
              %input(type="hidden" name="lead[product]" value="Red Ice")
              %button OK!

        %section#downloads.clearfix
          %h3 Links and Downloads
          %a#view-on-github.button{:href => "https://github.com/STRd6/Hockey-Densetsu"}
            %span View on GitHub
          %a#download-zip.button{:href => "https://github.com/STRd6/Hockey-Densetsu/zipball/pixie"}
            %span Download Alpha

        %section
          %h3 Contact
          %p
            I'm eager to hear what you think.
            Please let me know if you have any ideas, suggestions, or problems playing the game.
            Email me directly at
            %a{:href => "mailto:daniel@pixieengine.com"} daniel@pixieengine.com

        %section
          = image_tag "web620_2.png"

        %footer
          Red Ice is created by
          %a{:href => "https://github.com/STRd6"} STRd6

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"

    :coffeescript
      $("form").on "submit", ->
        $form = $(this)
        console.log $form.serialize()

        email = $form.find("[type=email]").val().trim()
        emailValidator = /.+\@.+\..+/ # Allows all emails similar to xxx@yyy.zzz
        valid = email.match(emailValidator)

        if valid
          $form.replaceWith("<p>Thanks, we'll keep you up to date with information about the game!</p>")

          url = $form.attr("action") + "?callback=?"
          $.getJSON url, $form.serialize()

        else
          $form.find('.error').text "Please enter a valid email address."

        return false
