!!!
%html
  = partial "head"

  %body
    = partial "analytics"

    #container
      .inner
        = partial "header"

        = yield

        = partial 'footer'


    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    = yield_content :scripts
